{# HTML de celebración del tricampeonato #}
<div align='center'>
    <div><img src='{{ asset('bundles/enroporra/images/copa_euro.jpg') }}' height='194'> <img src='{{ asset('bundles/enroporra/images/copa_mundial.jpg') }}' height='194'> <img src='{{ asset('bundles/enroporra/images/copa_euro.jpg') }}' height='194'></div>
    <div><h1>ESPAÑA TRICAMPEONA ¡FELICIDADES!</h1></div>
</div>
<br><br>
