{# empty Twig template #}
{% block menu %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/apuesta">Apuesta</a></li>
            <li><a href="/bases" target='_blank'>Bases</a></li>
            <li><a href="/cuenta">Mi cuenta</a></li>
            <li><a href="/amigos">Amigos</a></li>
            <li><a href="/clasificacion">Clasificación</a></li>
            <li><a href="/partidos">Partidos</a></li>
            <li><a href='mailto:{{ base.contact }}'>Contacto</a></li>
        </ul>
{% endblock %}